<!DOCTYLE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<title>Muzak.me</title>
	</head>
	<body>
		<div class="container">
			<section id="pageHeader">
				<div class="page-header">
					<h1>Muzak.me <small>Using information around you to find some new tunes.</small></h1>
				</div>
			</section>
			<section id="content">
				<%=yield%>
			</section>
			<section id="pageFooter">
				<div id="footer"><p><span class="label label-inverse">Made with <span style="color: red">&hearts;</span> in Philadelphia.</span></p></div>
			</section>
	</div>
	</body>
</html>